<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uberspot.a2048">

    <!-- Permissions (peuvent rester publiques) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"               <!-- NEW: on pointe vers la classe Application -->
        android:allowBackup="true"
        android:icon="@drawable/ic_2048"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- meta-data: NE PAS mettre de valeur en dur -->
        <meta-data
            android:name="rox.apiKey"
            android:value="${roxApiKey}" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
